body{
    margin:0;
    padding-top:2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161629;
    font-size: larger;

}
.container{
    flex-basis: 80%;
   
}

nav{
    display: flex;
    justify-content: flex-end;
}

.nav{
    opacity:70%;
    color:white;
    padding:2em;
}
.nav{
    padding-bottom: 1em;
}

.resources{
    color: #355e80;
}


.card{
    padding: 3em 6em;
    background-color: #4BABDE;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

span{
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    

}
.span1{
    padding-top: 0;
    border-right: 1px solid black;
    gap:1em;
}

.span2{
    display:flex;
    flex-direction: column;
    border-right: 1px solid #161629;
    align-items: center;
    justify-content: flex-start;
}
.span3{
    padding-left: 8em;
    margin-top: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.start{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.img{
    height:10em;
    width: 70%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2015/01/08/18/26/man-593333_1280.jpg");
}

.docs{
    color:white;
    border-radius: 20px;
    background-color:#7BCDE7;
    height: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    transform: translateX(-10px);
}
.docs div{
    transform: translateX(10px);
}

.dev{
    color: azure;
}

h2{
    font-weight: 500;
}
.start2{

}
.bold{
    font-weight: 700;
    font-size: larger;
}